body {
    background-color: #1C1C1C;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wearing-mask {
    text-align: center;
}
.yes {
    color: #00FF75;
}
.no {
    color: #F20000 ;
}
.real-time-update {
    color: white;
}

.real-time-list {
    list-style: none;
}
.real-time-list li {
    color: #00FF75;
}
.real-time-list li h1 {
    font-size: 16px;
}

.side-nav {
    grid-area: side-nav;
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 400px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #2a2a2a2a;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left: 3rem;
}
.app {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "side-nav content"
}

.content {
    grid-area: grid;
}
