<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=
    "width=device-width, initial-scale=1.0">
    <title>Mask Detector</title>
    <link rel="stylesheet" href="../static/app.css">
</head>
<body>
    <div class="side-nav">
        <h1 class="real-time-update">Real Time Update</h1>
        <ul class="real-time-list">
            <li class="list-items"><span>Detected</span> | Time:
            3:20PM</li>
            <li class="list-items"><span>Detected</span> | Time:
            3:20PM</li>
            <li class="list-items"><span>Detected</span> | Time:
            3:20PM</li>
            <li class="list-items"><span>Detected</span> | Time:
            3:20PM</li>
            <li class="list-items"><span>Detected</span> | Time:
            3:20PM</li>
        </ul>
    </div>
    <div class="container">
        <h1 class="wearing-mask yes">MASK DETECTED</h1>
        <video autoplay="true" class="camera"></video>
    </div>
</body>
</html>
